.catCard  {
    text-align: center;
    /* background-color: rgb(161, 107, 107); */
}

.catCard img {
    border: 5px solid lightskyblue;
    width: 500px;
    height: 500px;
    border-radius: 25px;
    margin: 20px
}

/* .catCard img:hover{
    width: 70%;
    height: 70%;
    background-color: antiquewhite;

} */

